.four {
    text-align: center;
}

.forum-main {
    text-align: center;
}

.forum-main h1 {
    margin-bottom: 50px;
}

.long-input {
    width: 50%;
}

.forum-item:hover {
    cursor: pointer;
}

.policy-page-image img {
    width: 40%;
    border-radius: 10px;
}

h6 {
    text-align: center;
}