header {
    background-color: rgb(245, 237, 237);
    border-radius: 10px;
    padding: 20px;
}

div img {
    width: 150px;
}

a img {
    width: 30px;
}

button {
    margin: 5px;
}

img {
    margin: 5px;
}

.logo:hover {
    cursor: pointer;
}

.header-buttons {
    background-color: rgb(187, 9, 9, 0.795);
    border-radius: 20px;
}

.header-description {
    margin: 5px;
}

.header-description h4 {
    margin: 5px;
    padding: 5px;
}

.log-in-media-links {
    float: right;
    margin: 10px;
}

.log-in-media-links button {
    height: 30px;
}

.user-info {
    display: inline-flex;
    margin: 10px;
}