.news-page-image img {
    width: 40%;
    border-radius: 10px;
}

.news-img {
    width: 500px;
    height: 500px;
}

p {
    margin: 10px 15%;
    font-size: 24px;
}

.row img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.row {
    justify-content: center;
    display: flex;
}

.small-text {
    font-size: 15px;
}

.header{ 
    text-align: center;
}

.add-article {
    text-align: center;
}

.add-article-description {
    margin: 10px 20%;
}

.white-space {
    margin-bottom: 50px;
    text-align: center;
}