.news-page-image img {
    width: 40%;
    border-radius: 10px;
}

.news-section {
    text-align: center;
    font-size: 200%;
}

p {
    margin: 10px 15%;
    font-size: 24px;
}

.row img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.row {
    justify-content: center;
    display: flex;
}